include README.md LICENSE
recursive-include readme_screenshots *
recursive-include InterkamenCorp/exl_blancs *
recursive-include InterkamenCorp/html_blancs *
recursive-include InterkamenCorp/support_img *
